*{
    margin: 0;
}

.nav {
    background-color: black;
    padding: 30px;
}

.hfomc {
    display: flex;
    padding-left: 300px;
    justify-content: space-around;
    text-decoration: none;
}


.Griot{
    color: white;
    font: larger;
}


.img-container {
    width: 100%;
}


.img-container img{
    width: 100%;
}


#april {
    margin-top: 40px;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(121, 111, 111); 
}

.cards {
    margin: 400px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    
}

.ttt {
    display: flex;
    flex-direction: column;
}


.below {
    color: white;
    grid-area: footer;
    display: flex;
    margin-top: 25px;
    padding: 50px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}



